body {
    background-image: url("images/starwars.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

canvas {
    border: black solid 1px;
    background: rgba(9, 5, 29,0.8);
    margin-top: 40px;
}

h1 {
    color: red;
}